<div class="bg-gray-300 container">
    <h1 class="text-center font-bold p-4">EASYRH</h1>
    <div class="text-center">
        <div class="flex flex-row justify-center justify-around">
            <h2>Home</h2>
            <h2>Services</h2>
            <h2>Offres</h2>
            <h2>Formations</h2>
        </div>
    </div>
   <div class="flex justify-between items-center pt-4">
    <div class="p-4">
        <input type="text" name="email" placeholder="Entrer votre email" class="border-1 border-blue-800 rounded-md outline-none p-2 mr-2 rounded-md">
        <button type="submit" class="p-2 text-white rounded-md font-light bg-blue-800">Submit</button>
    </div>
    <div>
        <p class="font-medium">2023 EasyRh , All Rights reserved.</p>
    </div>
   </div>
</div>