<div class="modal-header">
    <h4 class="modal-title pull-left">Modal</h4>
    <button type="button" class="btn-close close pull-right" id="close-modal" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #updateOffreForm="ngForm" (ngSubmit)="updateOffre()">
        <div class="mb-3">
            <label for="dateOfBirth">Title</label>
            <div class="input-group">
                <input class="form-control" type="text" #title [(ngModel)]="message.title" name="title" autocomplete="off" />
            </div>
        </div>
        <div class="mb-3">
            <label for="dateOfBirth">Profil</label>
            <div class="input-group">
                <input  class="form-control" type="text" placeholder="" #profile  name="profile" autocomplete="off" />
            </div>
        </div>
        <div class="mb-3">
            <label for="dateOfBirth">Type de contrat</label>
            <div class="input-group">
                <input  class="form-control" type="text"  placeholder="" #contrat [(ngModel)]="message.contrat"  name="contrat" autocomplete="off" />
            </div>
        </div>
        <div class="mb-3">
            <label for="dateOfBirth">offre_id</label>
            <div class="input-group">
                <input class="form-control" #id placeholder=""  [(ngModel)]="message.id"  name="id" autocomplete="off" />
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="submit" class="btn btn-outline-dark">Save</button>
</div>
