<div class="modal-header">
    <h4 class="modal-title pull-left">Modal</h4>
    <button type="button" class="btn-close close pull-right" id="close-modal" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
</div>

<div class="modal-body">
    <form #addApplicationForm="ngForm" (ngSubmit)="addApplication(addApplicationForm)">
        <div class="mb-3">
            <label>Title</label>
            <div class="input-group">
                <input class="form-control" type="text" #title [(ngModel)]="message.title" name="title" autocomplete="off" />
            </div>
        </div>
        <div class="mb-3">
            <label>Profil</label>
            <div class="input-group">
                <input  class="form-control" type="text" placeholder="profile" ngModel #profile  name="profile" autocomplete="off" />
            </div>
        </div>
        <div class="mb-3">
            <label>Type de contrat</label>
            <div class="input-group">
                <input  class="form-control" type="text"  placeholder="" #contrat [(ngModel)]="message.contrat"  name="contrat" autocomplete="off" />
            </div>
        </div>
        <div class="mb-3">
            <label>Ville</label>
            <div class="input-group">
                <input class="form-control" #ville placeholder="Rabat" type="text"  name="ville" autocomplete="off" />
            </div>
        </div>
        <div class="mb-3">
            <label>Année d'expérience</label>
            <div class="form-group">
                <select class="form-control" id="exampleFormControlSelect1">
                    <option>moins d'un an</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>plus de 5</option>
                </select>
              </div>
        </div>
        <div class="mb-3">
            <input class="form-control" #offreId type="text" [(ngModel)]="message.id" ngModel  name="offreId" autocomplete="off" value="{{message.id}}" />
            <input class="form-control" #offreId type="text"  name="offreId" autocomplete="off" value="" />
        </div>
        <button type="submit" class="btn btn-outline-dark">Save</button>
    </form>
</div>
