<div class="container">
    <div class="navbar">
      <div class="menu">
        <h3 class="logo">Easy<span>RH</span></h3>
        <div class="hamburger-menu">
          <div class="bar"></div>
        </div>
      </div>
    </div>
  
    <div class="main-container">
      <div class="main">
        <header>
          <div class="overlay">
            <div class="inner">
              <h2 class="title">Future is here</h2>
              <p class="description">          
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Laudantium illum tenetur consequatur veritatis?
              </p>
              <div class="flex flex-row justify-center items-center p-4"><a href="#" class="bg-blue-700 text-white py-2 px-4 rounded-md">Se Connecter</a></div>
              <div class="scroll-animation">
                <lottie-player src="https://assets1.lottiefiles.com/packages/lf20_EdAmna.json"  background="transparent"  speed="1"  style="width: 90px; height: 90px;"  loop  autoplay></lottie-player>
              </div>
            </div>
          </div>
        </header>
      </div>
  
      <div class="shadow one"></div>
      <div class="shadow two"></div>
    </div>
  
    <div class="links">
      <ul>
        <li>
          <a href="#" style="--i: 0.05s;">Home</a>
        </li>
        <li>
          <a href="#" style="--i: 0.1s;">Services</a>
        </li>
        <li>
          <a href="#" style="--i: 0.15s;">Portfolio</a>
        </li>
        <li>
          <a href="#" style="--i: 0.25s;">About</a>
        </li>
        <li>
          <a href="#" style="--i: 0.3s;">Contact</a>
        </li>
      </ul>
    </div>
  </div>
  <div>
    <div id="entreprise" class="container p-4">
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4 content-around">
      <div class="flex w-full justify-center items-center pt-4">
        <img src="../../../assets/image1.jpg" class="object-center h-72 w-68 rounded-r-3xl"/>   
      </div>
        <div class="flex w-full flex-col">
          <h4 class="py-4">Notre Entreprise</h4>
          <h1 class="font-bold text-blue-700 pb-4 text-xl">We provide Digital Marketing for our clients</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates magnam numquam officia veniam sequi!</p>
          <div class="flex w-full justify-center items-center py-2">
            <lottie-player src="https://assets6.lottiefiles.com/packages/lf20_4n5debpo.json"  background="transparent"  speed="1"  style="width: 30px; height: 30px;" autoplay></lottie-player>
           &nbsp; <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sint iusto rerum porro illo</p>
        </div>
        <div class="flex w-full justify-center items-center py-2">
            <lottie-player src="https://assets6.lottiefiles.com/packages/lf20_4n5debpo.json"  background="transparent"  speed="1"  style="width: 30px; height: 30px;" autoplay></lottie-player>
           &nbsp; <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sint iusto rerum porro illo</p>
        </div>
        <div class="flex w-full justify-center items-center py-2">
            <lottie-player src="https://assets6.lottiefiles.com/packages/lf20_4n5debpo.json"  background="transparent"  speed="1"  style="width: 30px; height: 30px;" autoplay></lottie-player>
           &nbsp; <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sint iusto rerum porro illo</p>
        </div>
        </div>
    </div>
    </div>
    <div id="services" class="container p-4 my-8">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4 content-around">
            <div class="flex w-8/12 flex-col">
                <h4 class="py-4">Notre Service</h4>
                <h1 class="font-bold text-blue-700 pb-4 text-xl">Our Service can help your problem</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates magnam numquam officia veniam sequi!</p>
               <div class="flex flex-row justify-center items-center p-4"><a href="#" class="bg-blue-700 text-white py-2 px-4 rounded-md">Voir Offres</a></div>
            </div>
            <div class="grid grid-cols-1 w-1/2 md:grid-cols-2 gap-4 pl-4">
                <div class="card bg-blue-700 text-gray-300">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-shield-lock" viewBox="0 0 20 20"> 
                        <path d="M5.338 1.59a61.44 61.44 0 0 0-2.837.856.481.481 0 0 0-.328.39c-.554 4.157.726 7.19 2.253 9.188a10.725 10.725 0 0 0 2.287 2.233c.346.244.652.42.893.533.12.057.218.095.293.118a.55.55 0 0 0 .101.025.615.615 0 0 0 .1-.025c.076-.023.174-.061.294-.118.24-.113.547-.29.893-.533a10.726 10.726 0 0 0 2.287-2.233c1.527-1.997 2.807-5.031 2.253-9.188a.48.48 0 0 0-.328-.39c-.651-.213-1.75-.56-2.837-.855C9.552 1.29 8.531 1.067 8 1.067c-.53 0-1.552.223-2.662.524zM5.072.56C6.157.265 7.31 0 8 0s1.843.265 2.928.56c1.11.3 2.229.655 2.887.87a1.54 1.54 0 0 1 1.044 1.262c.596 4.477-.787 7.795-2.465 9.99a11.775 11.775 0 0 1-2.517 2.453 7.159 7.159 0 0 1-1.048.625c-.28.132-.581.24-.829.24s-.548-.108-.829-.24a7.158 7.158 0 0 1-1.048-.625 11.777 11.777 0 0 1-2.517-2.453C1.928 10.487.545 7.169 1.141 2.692A1.54 1.54 0 0 1 2.185 1.43 62.456 62.456 0 0 1 5.072.56z"/> 
                        <path d="M9.5 6.5a1.5 1.5 0 0 1-1 1.415l.385 1.99a.5.5 0 0 1-.491.595h-.788a.5.5 0 0 1-.49-.595l.384-1.99a1.5 1.5 0 1 1 2-1.415z"/> 
                    </svg>
                    <p class="font-light">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </div>
                <div class="card-2 bg-gray-300 border-1 border-blue-700 text-blue-700">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-shield-lock" viewBox="0 0 20 20"> 
                    <path d="M5.338 1.59a61.44 61.44 0 0 0-2.837.856.481.481 0 0 0-.328.39c-.554 4.157.726 7.19 2.253 9.188a10.725 10.725 0 0 0 2.287 2.233c.346.244.652.42.893.533.12.057.218.095.293.118a.55.55 0 0 0 .101.025.615.615 0 0 0 .1-.025c.076-.023.174-.061.294-.118.24-.113.547-.29.893-.533a10.726 10.726 0 0 0 2.287-2.233c1.527-1.997 2.807-5.031 2.253-9.188a.48.48 0 0 0-.328-.39c-.651-.213-1.75-.56-2.837-.855C9.552 1.29 8.531 1.067 8 1.067c-.53 0-1.552.223-2.662.524zM5.072.56C6.157.265 7.31 0 8 0s1.843.265 2.928.56c1.11.3 2.229.655 2.887.87a1.54 1.54 0 0 1 1.044 1.262c.596 4.477-.787 7.795-2.465 9.99a11.775 11.775 0 0 1-2.517 2.453 7.159 7.159 0 0 1-1.048.625c-.28.132-.581.24-.829.24s-.548-.108-.829-.24a7.158 7.158 0 0 1-1.048-.625 11.777 11.777 0 0 1-2.517-2.453C1.928 10.487.545 7.169 1.141 2.692A1.54 1.54 0 0 1 2.185 1.43 62.456 62.456 0 0 1 5.072.56z"/> 
                    <path d="M9.5 6.5a1.5 1.5 0 0 1-1 1.415l.385 1.99a.5.5 0 0 1-.491.595h-.788a.5.5 0 0 1-.49-.595l.384-1.99a1.5 1.5 0 1 1 2-1.415z"/> 
                </svg>
                <p class="font-light">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            </div>
            <div class="card-2 bg-gray-300 border-1 border-blue-700 text-blue-700">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-shield-lock" viewBox="0 0 20 20"> 
                <path d="M5.338 1.59a61.44 61.44 0 0 0-2.837.856.481.481 0 0 0-.328.39c-.554 4.157.726 7.19 2.253 9.188a10.725 10.725 0 0 0 2.287 2.233c.346.244.652.42.893.533.12.057.218.095.293.118a.55.55 0 0 0 .101.025.615.615 0 0 0 .1-.025c.076-.023.174-.061.294-.118.24-.113.547-.29.893-.533a10.726 10.726 0 0 0 2.287-2.233c1.527-1.997 2.807-5.031 2.253-9.188a.48.48 0 0 0-.328-.39c-.651-.213-1.75-.56-2.837-.855C9.552 1.29 8.531 1.067 8 1.067c-.53 0-1.552.223-2.662.524zM5.072.56C6.157.265 7.31 0 8 0s1.843.265 2.928.56c1.11.3 2.229.655 2.887.87a1.54 1.54 0 0 1 1.044 1.262c.596 4.477-.787 7.795-2.465 9.99a11.775 11.775 0 0 1-2.517 2.453 7.159 7.159 0 0 1-1.048.625c-.28.132-.581.24-.829.24s-.548-.108-.829-.24a7.158 7.158 0 0 1-1.048-.625 11.777 11.777 0 0 1-2.517-2.453C1.928 10.487.545 7.169 1.141 2.692A1.54 1.54 0 0 1 2.185 1.43 62.456 62.456 0 0 1 5.072.56z"/> 
                <path d="M9.5 6.5a1.5 1.5 0 0 1-1 1.415l.385 1.99a.5.5 0 0 1-.491.595h-.788a.5.5 0 0 1-.49-.595l.384-1.99a1.5 1.5 0 1 1 2-1.415z"/> 
            </svg>
            <p class="font-light">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </div>
        <div class="card-4 bg-gray-300 border-1 border-blue-700 text-blue-700">
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-shield-lock" viewBox="0 0 20 20"> 
            <path d="M5.338 1.59a61.44 61.44 0 0 0-2.837.856.481.481 0 0 0-.328.39c-.554 4.157.726 7.19 2.253 9.188a10.725 10.725 0 0 0 2.287 2.233c.346.244.652.42.893.533.12.057.218.095.293.118a.55.55 0 0 0 .101.025.615.615 0 0 0 .1-.025c.076-.023.174-.061.294-.118.24-.113.547-.29.893-.533a10.726 10.726 0 0 0 2.287-2.233c1.527-1.997 2.807-5.031 2.253-9.188a.48.48 0 0 0-.328-.39c-.651-.213-1.75-.56-2.837-.855C9.552 1.29 8.531 1.067 8 1.067c-.53 0-1.552.223-2.662.524zM5.072.56C6.157.265 7.31 0 8 0s1.843.265 2.928.56c1.11.3 2.229.655 2.887.87a1.54 1.54 0 0 1 1.044 1.262c.596 4.477-.787 7.795-2.465 9.99a11.775 11.775 0 0 1-2.517 2.453 7.159 7.159 0 0 1-1.048.625c-.28.132-.581.24-.829.24s-.548-.108-.829-.24a7.158 7.158 0 0 1-1.048-.625 11.777 11.777 0 0 1-2.517-2.453C1.928 10.487.545 7.169 1.141 2.692A1.54 1.54 0 0 1 2.185 1.43 62.456 62.456 0 0 1 5.072.56z"/> 
            <path d="M9.5 6.5a1.5 1.5 0 0 1-1 1.415l.385 1.99a.5.5 0 0 1-.491.595h-.788a.5.5 0 0 1-.49-.595l.384-1.99a1.5 1.5 0 1 1 2-1.415z"/> 
        </svg>
        <p class="font-light">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    </div>
            </div>
        </div>
    </div>
    <div id="formation" class="container p-2 my-4">
      <h4 class="text-center">Nos Formations</h4>
        <div class="flex justify-end">
          <div class="arrow arrow-right"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25"><path style="fill:rgb(29 78 216)" d="M24 12.001H2.914l5.294-5.295-.707-.707L1 12.501l6.5 6.5.707-.707-5.293-5.293H24v-1z" data-name="Left"/></svg></div> &nbsp;
        <div class="arrow arrow-left"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25"><path style="fill:rgb(29 78 216)" d="m17.5 5.999-.707.707 5.293 5.293H1v1h21.086l-5.294 5.295.707.707L24 12.499l-6.5-6.5z" data-name="Right"/></svg></div>
        </div>
        <div class="bg-gray-300 p-2">
          <!-- slider container -->
            <div class="slider-container flex flex-row">
                <div class="slider-item bg-white rounded-lg mr-2 p-2">
                    <div class="flex w-full justify-center items-center">
                        <img src="../../../assets/formation.jpg" alt="image relative à la formation" class="rounded-lg">
                    </div>
                    <div class="flex justify-around pt-2 text-sm font-light">
                        <p>Informatique</p>
                        <p>40 personnes</p>
                    </div>
                    <h5 class="text-center pt-4 text-blue-700 font-medium">Titre de formation</h5>
                    <div class="p-2">
                        <p class="font-light text-sm">Lorem ipsum dolor sit amet, consectetur adipisicing elit Lorem ipsum dolor sit amet consectetur adipisicing elit. Do</p>
                    </div>
                    <h5 class="text-center pt-4 text-sm">Durée du formation</h5>
                </div>
                <div class="slider-item bg-white rounded-lg p-2">
                    <div class="flex w-full justify-center items-center">
                        <img src="../../../assets/formation.jpg" alt="image relative à la formation" class="rounded-lg">
                    </div>
                    <div class="flex justify-around pt-2 text-sm font-light">
                        <p>Domaine</p>
                        <p>limite</p>
                    </div>
                    <h5 class="text-center pt-4 text-blue-700 font-medium">Titre de formation</h5>
                    <div class="p-2">
                        <p class="font-light text-sm">Lorem ipsum dolor sit amet, consectetur adipisicing elit Lorem ipsum dolor sit amet consectetur adipisicing elit. Do</p>
                    </div>
                    <h5 class="text-center pt-4  text-sm">Durée du formation</h5>
                </div><div class="slider-item bg-white rounded-lg p-2">
                    <div class="flex w-full justify-center items-center">
                        <img src="../../../assets/formation.jpg" alt="image relative à la formation" class="w-84 rounded-lg">
                    </div>
                    <div class="flex justify-around pt-2 text-sm font-light">
                        <p>Domaine</p>
                        <p>limite</p>
                    </div>
                    <h5 class="text-center pt-4 text-blue-700 font-medium">Titre de formation</h5>
                    <div class="p-2">
                        <p class="font-light text-sm">Lorem ipsum dolor sit amet, consectetur adipisicing elit Lorem ipsum dolor sit amet consectetur adipisicing elit. Do</p>
                    </div>
                    <h5 class="text-center pt-4 text-sm">Durée du formation</h5>
                </div>
                <div class="slider-item bg-white rounded-lg p-2">
                    <div class="flex w-full justify-center items-center">
                        <img src="../../../assets/formation.jpg" alt="image relative à la formation" class="w-84 rounded-lg">
                    </div>
                    <div class="flex justify-around pt-2 text-sm font-light">
                        <p>Domaine</p>
                        <p>limite</p>
                    </div>
                    <h5 class="text-center pt-4 text-blue-700">Titre de formation</h5>
                    <div class="p-2">
                        <p class="font-light text-sm">Lorem ipsum dolor sit amet, consectetur adipisicing elit Lorem ipsum dolor sit amet consectetur adipisicing elit. Do</p>
                    </div>
                    <h5 class="text-center pt-4  text-sm">Durée du formation</h5>
                </div>
                <div class="slider-item bg-white rounded-lg p-2">
                    <div class="flex w-full justify-center items-center">
                        <img src="../../../assets/formation.jpg" alt="image relative à la formation" class="w-84 rounded-lg">
                    </div>
                    <div class="flex justify-around pt-2 text-sm font-light">
                        <p>Domaine</p>
                        <p>limite</p>
                    </div>
                    <h5 class="text-center pt-4 text-blue-700">Titre de formation</h5>
                    <div class="p-2">
                        <p class="font-light text-sm">Lorem ipsum dolor sit amet, consectetur adipisicing elit Lorem ipsum dolor sit amet consectetur adipisicing elit. Do</p>
                    </div>
                    <h5 class="text-center pt-4 text-sm">Durée du formation</h5>
                </div>
                <div class="slider-item bg-white rounded-lg p-2">
                    <div class="flex w-full justify-center items-center">
                        <img src="../../../assets/formation.jpg" alt="image relative à la formation" class="w-84 rounded-lg">
                    </div>
                    <div class="flex justify-around pt-2 text-sm font-light">
                        <p>Domaine</p>
                        <p>limite</p>
                    </div>
                    <h5 class="text-center pt-4 text-blue-700">Titre de formation</h5>
                    <div class="p-2">
                        <p class="font-light text-sm">Lorem ipsum dolor sit amet, consectetur adipisicing elit Lorem ipsum dolor sit amet consectetur adipisicing elit. Do</p>
                    </div>
                    <h5 class="text-center pt-4 text-sm">Durée du formation</h5>
                </div>
            </div>
            <div class="flex flex-row justify-center items-center p-4 mt-12"><a href="#" class="bg-blue-700 text-white py-2 px-4 rounded-md">Get Started</a></div>
       
           

  </div>
        </div>
    </div>
  <!-- </section> -->