<div class="container">
    <div class="navbar">
      <div class="menu">
        <h3 class="logo">Easy<span>RH</span></h3>
        <div class="hamburger-menu">
          <div class="bar"></div>
        </div>
      </div>
    </div>
  
    <div class="main-container">
      <div class="main">
        <header>
          <div class="overlay">
            <div class="inner">
              <h2 class="title">Future is here</h2>
              <p class="description">          
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Laudantium illum tenetur consequatur veritatis?
              </p>
              <button class="btn">Se connecter</button>
              <div class="scroll-animation">
                <lottie-player src="https://assets1.lottiefiles.com/packages/lf20_EdAmna.json"  background="transparent"  speed="1"  style="width: 90px; height: 90px;"  loop  autoplay></lottie-player>
              </div>
            </div>
          </div>
        </header>
      </div>
  
      <div class="shadow one"></div>
      <div class="shadow two"></div>
    </div>
  
    <div class="links">
      <ul>
        <li>
          <a href="#" style="--i: 0.05s;">Home</a>
        </li>
        <li>
          <a href="#" style="--i: 0.1s;">Services</a>
        </li>
        <li>
          <a href="#" style="--i: 0.15s;">Portfolio</a>
        </li>
        <li>
          <a href="#" style="--i: 0.2s;">Testimonials</a>
        </li>
        <li>
          <a href="#" style="--i: 0.25s;">About</a>
        </li>
        <li>
          <a href="#" style="--i: 0.3s;">Contact</a>
        </li>
      </ul>
    </div>
  </div>
  <section>
    <div class="container p-4">
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4 content-around">
      <!-- <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque, nihil!</h3> -->
      <div class="flex w-full justify-center items-center">
        <img src="../../../assets/image1.jpg" class="object-center h-72 w-68 rounded-r-3xl"/>   
      </div>
        <div class="flex w-full flex-col">
          <h4 class="py-4">Notre entreprise</h4>
          <h1 class="font-bold text-indigo-600 pb-4">We provide Digital Marketing for our clients</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates magnam numquam officia veniam sequi!</p>
        <div class="flex w-full justify-center items-center py-2">
            <lottie-player src="https://assets6.lottiefiles.com/packages/lf20_4n5debpo.json"  background="transparent"  speed="1"  style="width: 40px; height: 40px;" autoplay></lottie-player>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sint iusto rerum porro illo</p>
        </div>

        </div>
    </div>
    </div>
  </section>